*.out
*.o
/.vscode/
*.exe
*.csv
/build/
/obj/
/.dist/
allegro6/.venv/
.venv/
docs/Informe/build/

# LaTeX
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.blg
*.bcf
*.dvi
*.fdb_latexmk
*.fls
*.log
*.lot
*.lof
*.nav
*.pdf
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
docs/Informe/*.pdf